body{
    marign:0;
    font-family:
}


/*can access logos from "awesome"

box-sizing: border-box for all elements
link text, the logo, and icons are surrounded by anchor tags
links turn blue on hover
anchor tags are display: inline-block
clickable area of links immediately flow from one link to the next (padding will help achieve this)
Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively)
the "Logo" text is 3em with .2em of padding above and below
no explicit height given to the navbar
default styling is removed as needed from the body, unordered list and anchor tag elements
logo is absolutely positioned to completely center text on the navbar

li:not(.logo-item){
z-index:1;
}

*/

Create div for logo{
    width:100%;

}
#Logo{
    font-zize:3em;
    position: absolute;
    height: inherit;
    margin: auto; /*based on parent container/*
}