*{
    box-sizing: border-box;
}
body{
    margin:0;

}
.wrapper{
    display:grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-areas:
            "header header header"
            "menu content ads"
            ". index ."
            ". footer footer"
            ". rights rights"
}

header{
    grid-area: header;
    display: flex;
    background-color: black;
    color:white;
}
.navBarItem:nth-of-type(1){
    background-color:gray;
    margin:0;
}
.navBarItem{
    margin:2px;
}

#Menu{
    grid-area: menu;
    background-color: lightgray;
}
.menuItem:nth-of-type(1){
    margin-top: 10px;
    margin-bottom:10px;
}
.menuItem:nth-of-type(n+2){
    margin-top:20px;
}