body{
    background: black;
    color: skyblue;
}
#icon1, #icon2, #icon3{
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
/*MAP*/
#map {
    /* the width and height may be set to any size */

    display: flex;
    justify-content: center;
    width: 70%;
    height: 500px;
    margin: 2em;
}